.button_group {
    /* background-color: aliceblue !important; */
    display: flex !important;
    justify-content: flex-start !important;
    width: 100%;
    margin-bottom: 20px;
}

.base_button {
    width: 150px !important;
    height: 35px !important;
    margin-left: 5px;
    border-radius: 3px !important;
    border: 0px !important;
    font-weight: 500 !important;
    color: #ffffff !important;
}

.login_button {
    width: 280px !important;
    height: 48px !important;
    border-radius: 100px !important;
    background-color: #009de1 !important;
    color: #ffffff !important;
    font-family: 'Lato' !important;
    font-size: 17px !important;
    font-weight: 'bold' !important;
    line-height: 0.61 !important;
}

.choose_button {
    width: 120px !important;
    height: 35px !important;
    border-radius: 4px !important;
    border: 0px !important;
    font-weight: 300 !important;
    color: #ffffff !important;
}

.primary {
    background-color: #358ed7 !important;
}

.red {
    background-color: #d73535 !important;
}

.green {
    background-color: #35d783 !important;
}

.base_button:hover {
    opacity: 0.8;
    transition: 0.4s;
}

.login_button:hover {
    opacity: 0.8;
    transition: 0.4s;
}

.choose_button:hover {
    opacity: 0.8;
    transition: 0.4s;
}

.delete {
    background-color: rgba(0, 0, 0, 0.38) !important;
}

.button_disabled {
    background-color: #2E6C9F !important;
    width: 150px !important;
    height: 35px !important;
    margin-left: 5px;
    border-radius: 3px !important;
    border: 0px !important;
    font-weight: 500 !important;
    color: #a8a8a8 !important;
}

.delete_disabled {
    background-color: rgba(0, 0, 0, 0.30) !important;
    color: #ffffff !important;
}